{% extends "base.html" %}
 {% block content %}
        {% load staticfiles %}
           <div id="lightResource" class="white_content"><div class = "infoWrapperInPop" onclick = "document.getElementById('lightResource').style.display='none';document.getElementById('fade').style.display='none'"  class="infoWrapper">
        <div id="infoPopRes" onclick = "document.getElementById('lightResource').style.display='none';document.getElementById('fade').style.display='none'" class="infoI">
            <strong>X</strong>
        </div>
    </div><p>{{addResourceName}}:</p><p>{{resourceDes}}</p></div>
         <div id="lightRuntime" class="white_content"><div class = "infoWrapperInPop" onclick = "document.getElementById('lightRuntime').style.display='none';document.getElementById('fade').style.display='none'"  class="infoWrapper">
        <div id="infoPopRun" onclick = "document.getElementById('lightRuntime').style.display='none';document.getElementById('fade').style.display='none'" class="infoI">
            <strong>X</strong>
        </div>
    </div><p>{{addRuntimeName}}:</p>
             <p>{{runtimeDes}}</p></div>

        <div id="lightOnLoad" class="white_content">

                 <div class = "infoWrapperInPop" onclick = "document.getElementById('lightOnLoad').style.display='none';document.getElementById('fade').style.display='none'"  class="infoWrapper">
        <div id="infoPopRunOnLoad" onclick = "document.getElementById('lightOnLoad').style.display='none';document.getElementById('fade').style.display='none'" class="infoI">
            <strong>X</strong>
        </div>
    </div>{% for item in popUpList %}
                 <p>{{ item }}</p>
                {% endfor %}</div>

                <div id="lightOnLoadErr" class="white_content">

                 <div class = "infoWrapperInPop" onclick = "document.getElementById('lightOnLoadErr').style.display='none';document.getElementById('fade').style.display='none'"  class="infoWrapper">
        <div id="infoPopRunOnLoadErr" onclick = "document.getElementById('lightOnLoadErr').style.display='none';document.getElementById('fade').style.display='none'" class="infoI">
            <strong>X</strong>
        </div>
    </div><p>{{addRuntimeName}} Is not available for {{resName}}</p></div>

        {% block body %}
{%if postTrue == False %}
<body onload ="document.getElementById('lightOnLoad').style.display='block';document.getElementById('fade').style.display='block'" >
{% elif resName != "Foundation +" and additionalRuntime > 0 and postTrue == True %}
<body onload ="document.getElementById('lightOnLoadErr').style.display='block';document.getElementById('fade').style.display='block'" >
{%else%}
<body>
{%endif%}
{% endblock body %}



    <div id="fade" class="black_overlay"></div>
<form method="post" action="{% url 'cfcalcpage' %}" class="pure-form pure-form-aligned">
    {% csrf_token %}
    <div id="dropDownSection">
        <h1 class="H1Class"><img id="resTag" alt="Cloud Fabric" title="Cloud Fabric" src="{% static 'fabric/Res.png' %}"></h1>
                        <div class="pure-g">
						    <div class="pure-u-1 pure-u-md-1-3">
                            <select id="Resources" name="Resources" class="pure-input-1-2">
                                {%for drop in dropDowns%}
                                <option id="{{drop.name}}" name="{{drop.name}}" value="{{drop.text}}">{{drop.text}}</option>
                                {%endfor%}
                              </select>
                             <div onclick = "document.getElementById('lightOnLoad').style.display='block';document.getElementById('fade').style.display='block'" id="dropInfo" class="infoWrapper">
                            <div onclick = "document.getElementById('lightOnLoad').style.display='block';document.getElementById('fade').style.display='block'" class="infoI">
                                <strong>i</strong>
                                </div>
                            </div>
						</div>
					</div>
                    <div id="spacerDrop"></div>
                        {% for rad in monthForm%}
                         <ul>
                            <input class="monthRads" name="monthRads" type="radio" id="{{rad.name}}" value="{{rad.value}}" checked> <p class="monthRadsP">{{rad.text}}</p>
                         </ul>
                        {% endfor %}
    </div>
    <div id="additionalSection">
        <h1 class="H1Class"><img id="resADTag" alt="Cloud Fabric" title="Cloud Fabric" src="{% static 'fabric/addRes.png' %}"></h1>
           <div id="spacerADD"></div>
        {%for input in listOfNum%}
         <div class="additionalContainers">
        <div class="pure-control-group">
            <label for="{{input.name}}">{{input.label}}</label>
            <input class="addInputsClass" id="{{input.name}}" name="{{input.name}}" value="{{input.value}}" type="number" min="0">
        </div>
             {% if input.label == addResourceName %}
         <div onclick ="document.getElementById('lightResource').style.display='block';document.getElementById('fade').style.display='block'" id="bottomInfo" class="infoWrapper">
        <div onclick ="document.getElementById('lightResource').style.display='block';document.getElementById('fade').style.display='block'" class="infoI">
            <strong>i</strong>
            </div>
        </div>
             {% elif input.label == addRuntimeName %}
             <div onclick ="document.getElementById('lightRuntime').style.display='block';document.getElementById('fade').style.display='block'" id="bottomInfo" class="infoWrapper">
        <div onclick ="document.getElementById('lightRuntime').style.display='block';document.getElementById('fade').style.display='block'" class="infoI">
            <strong>i</strong>
            </div>
        </div>
             {% endif %}
            </div>
                    {%endfor%}
                            <button type="submit" class="pure-button pure-button-primary" id = "subButtonEverything">Submit</button>
						</div>
</form>
    <div id="tableSection">
        <div id="tableDivBlue">
            <table id="tableFinal" class="pure-table pure-table-horizontal">
    <thead id="tableHead">
        <tr>
            <th >Resource</th>
            <th >Cost</th>
        </tr>
    </thead>

    <tbody>
    {% if postTrue %}
        <tr>
            <td>{{resName}}</td>
            <td>€ {{mainResource}}</td>
        </tr>
            {%if additionalResource != 0 %}
        <tr>
            <td>{{additionalResourceString}}</td>
         <td>€ {{additionalResource}}</td>
        </tr>
    {% endif %}
 {%if additionalRuntimeReset != 0 %}
     <tr>
            <td>{{additionalRuntimeString}}</td>
         <td>€ {{additionalRuntime}}</td>
        </tr>
{% endif %}
     <tr id="totalCost">
            <td><b>Total Cost</b></td>
         <td><b>€ {{totalCost}}</b></td>
        </tr>
    {% endif %}
    </tbody>
</table>
        </div>

    </div>
  {% endblock %}