<!DOCTYPE html>
<html>
{% load staticfiles %}
<head lang="en">
    <meta charset="UTF-8">
    <title>Cloud Fabric || Product Calculator</title>
    <link rel="shortcut icon" alt="Canopy favicon" href="http://www.canopy-cloud.com/misc/favicon.ico" type="image/vnd.microsoft.icon"/>
    <link rel="stylesheet" type= "text/css" href = "{% static 'fabric/stylesheet.css' %}" />
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
</head>
<body>
    <div id="header">
        <img id="logo" alt="Canopy logo" title="Canopy logo" src="{% static 'fabric/canopy-logo1.png' %}">
    </div>
    <form method="post"  action="{% url 'monthlyvp' %}">
        {% csrf_token %}

    <div id="privateOutterDiv">
            <h1 id="privateH1"><img id="vpeTag" alt="Cloud Fabric" title="Cloud Fabric" src="{% static 'fabric/VPE.png' %}"></h1>
        <div class="blueFillKick">
        </div>
        <div class="keepDesStill">
             <p id="privateP"></p>
        </div>
        <img class="cloudFabric" alt="Cloud Fabric" title="Cloud Fabric" src="{% static 'fabric/CloudFabricLogo.png' %}">

        <button id="privateBtn" type="submit" class="pure-button pure-button-primary">{{privateEditionName}}</button>

            </div>

        </form>
</body>
</html>