{% extends "base.html" %}
 {% block content %}
        {% load staticfiles %}
         <div id="lightResource" class="white_content"><p>{{addResourceName}}:</p><p>{{resourceDes}}</p><div class = "infoWrapperInPop" onclick = "document.getElementById('lightResource').style.display='none';document.getElementById('fade').style.display='none'"  class="infoWrapper">
        <div id="infoPopRes" onclick = "document.getElementById('lightResource').style.display='none';document.getElementById('fade').style.display='none'" class="infoI">
            <strong>X</strong>
        </div>
    </div></div>
         <div id="lightRuntime" class="white_content"><p>{{addRuntimeName}}:</p><p>{{runtimeDes}}</p><div class = "infoWrapperInPop" onclick = "document.getElementById('lightRuntime').style.display='none';document.getElementById('fade').style.display='none'"  class="infoWrapper">
        <div id="infoPopRun" onclick = "document.getElementById('lightRuntime').style.display='none';document.getElementById('fade').style.display='none'" class="infoI">
            <strong>X</strong>
        </div>
    </div></div>

        <div id="lightOnLoad" class="white_content">

                 <div class = "infoWrapperInPop" onclick = "document.getElementById('lightOnLoad').style.display='none';document.getElementById('fade').style.display='none'"  class="infoWrapper">
        <div id="infoPopRunOnLoad" onclick = "document.getElementById('lightOnLoad').style.display='none';document.getElementById('fade').style.display='none'" class="infoI">
            <strong>X</strong>
        </div>
    </div>{% for item in popUpList %}
                 <p>{{ item }}</p>
                {% endfor %}</div>

         <div id="fade" class="black_overlay"></div>
<div  id="dropDownSection">
        <h1 class="H1Class"><img id="resTag" alt="Cloud Fabric" title="Cloud Fabric" src="{% static 'fabric/Res.png' %}"></h1>
						<form class="pure-form pure-form-stacked" method="post"  action="{% url 'kseresource' %}">
                          {% csrf_token %}
					<div class="pure-g">
						<div class="pure-u-1 pure-u-md-1-3">
                            {{resForm}}
                            <div onclick = "document.getElementById('lightOnLoad').style.display='block';document.getElementById('fade').style.display='block'" id="dropInfo" class="infoWrapper">
        <div onclick = "document.getElementById('lightOnLoad').style.display='block';document.getElementById('fade').style.display='block'" class="infoI">
            <strong>i</strong>
            </div>
        </div>
						</div>
					</div>
                        <button type="submit" class="pure-button pure-button-primary" id = "subButtonDrop">Submit</button>
                        <input type='hidden' name="monthlyChoice" value="{{monthlyChoice}}" />
                        <input type='hidden' name="privateOrKick" value="{{privateOrKick}}" />
                        <input type='hidden' name="licenceCheckBox" value="{{licenceCheckBox}}" />
					</form>


    </div>
    <div id="additionalSection">
        <h1 class="H1Class"><img id="resADTag" alt="Cloud Fabric" title="Cloud Fabric" src="{% static 'fabric/addRes.png' %}"></h1>
        <form method="post"  id="additionalResourcesInputs"  class="pure-form pure-form-aligned" action="{% url 'ksenumbers' %}">
                              {% csrf_token %}
					<div class="pure-g">
						<div class="pure-u-1 pure-u-md-1-3">
							<fieldset id="inputFieldset">
								<div id="divInput">


                                 {{numForm}}


								</div>
                             <button type="submit" class="pure-button pure-button-primary" id = "subButtonR">Submit</button>
							</fieldset>
                            <input class="hideStan" type='hidden' name="licenceCheckBox" value="{{licenceCheckBox}}" />
                            <input class="hideStan" type='hidden' name="monthlyChoice" value="{{monthlyChoice}}" />
                            <input class="hideStan" type='hidden' name="resourceChoice" value="{{resourceChoice}}" />
                            <input class="hideStan" type='hidden' name="editionMonthlyCost" value="{{editionMonthlyCost}}" />
                            <input class="hideStan" type='hidden' name="privateOrKick" value="{{privateOrKick}}" />

						</div>
					</div>
					</form>
                   <p id="vcpuP">
               {{editionVcpuPer}} <div onclick ="document.getElementById('lightResource').style.display='block';document.getElementById('fade').style.display='block'" id="bottomInfo" class="infoWrapper">
        <div onclick ="document.getElementById('lightResource').style.display='block';document.getElementById('fade').style.display='block'" class="infoI">
            <strong>i</strong>
            </div>
        </div>
        </p>
            <p id="ramP">
               {{editionRamPer}} <div onclick ="document.getElementById('lightRuntime').style.display='block';document.getElementById('fade').style.display='block'" id="bottomInfo" class="infoWrapper">
        <div onclick ="document.getElementById('lightRuntime').style.display='block';document.getElementById('fade').style.display='block'" class="infoI">
            <strong>i</strong>
        </div>
    </div>
            </p>
            <p id="storageP">
               {{editionStoragePer}}
            </p>
    </div>
    <div id="tableSection">
        <div id="tableDivBlue">
            <table id="tableFinal" class="pure-table pure-table-horizontal">
    <thead id="tableHead">
        <tr>
            <th >Resource</th>
            <th >Cost</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{resourceChoice}}</td>
            <td>€ {{editionMonthlyCost}}</td>
        </tr>
    </tbody>
</table>
        </div>

    </div>
  {% endblock %}