{% extends "base.html" %}
 {% block content %}
    <div id="dropDownSection">
        <h1 class="H1Class">Resources</h1>
						<form class="pure-form pure-form-stacked" method="post"  action="{% url 'vperesource' %}">
                          {% csrf_token %}
					<div class="pure-g">
						<div class="pure-u-1 pure-u-md-1-3">
                            {{resForm}}
							<!--<label for="Resources"></label>
							<select id="Resources"  class="pure-input-1-2">
                                {% for resource in KickStarterEditionResource|slice:KickStarterEditionResourceSlice %}
                                    <option>{{resource}}</option>
                                {% endfor %}
							</select>-->
						</div>
					</div>
                        <button type="submit" class="pure-button pure-button-primary" id = "subButtonDrop">Submit</button>
                        <input type='hidden' name="monthlyChoice" value="{{monthlyChoice}}" />
					</form>

    </div>
    <div id="additionalSection">
        <h1 class="H1Class">Additional Resources</h1>
        <form method="post"  id="additionalResourcesInputs"  class="pure-form pure-form-aligned" action="{% url 'vpenumbers' %}">
                              {% csrf_token %}
					<div class="pure-g">
						<div class="pure-u-1 pure-u-md-1-3">
							<fieldset id="inputFieldset">
								<div class="pure-control-group" id="divInput">


                                 {{numForm}}


								</div>
                             <button type="submit" class="pure-button pure-button-primary" id = "subButtonR">Submit</button>
							</fieldset>
                            <input type='hidden' name="monthlyChoice" value="{{monthlyChoice}}" />
                            <input type='hidden' name="resourceChoice" value="{{resourceChoice}}" />
                            <input type='hidden' name="PrivateEditionMonthlyCost" value="{{PrivateEditionMonthlyCost}}" />
						</div>
					</div>
					</form>
        <p id="resourceADP">
           {{PrivateEditionVCPU}}
        </p>
        <p id="runtimeADP">
           {{PrivateEditionRAM}}
        </p>
    </div>
    <div id="tableSection">
        <div id="tableDivBlue">
            <table id="tableFinal" class="pure-table pure-table-horizontal">
    <thead id="tableHead">
        <tr>
            <th >Resource</th>
            <th >Cost</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{resourceChoice}}</td>
            <td>{{PrivateEditionMonthlyCost}}</td>
        </tr>
        <tr>
            <td>{{PrivateEditionVCPU}}</td>
         <td>{{userVCPU}}</td>
        </tr>
     <tr>
            <td>{{PrivateEditionRAM}}</td>
         <td>{{userRAM}}</td>
        </tr>
         <tr id="totalCost">
            <td>Total Cost:</td>
         <td>{{totalCost}}</td>
        </tr>
    </tbody>
</table>
        </div>

    </div>
  {% endblock %}