{% extends "base.html" %}

         {% block additionalStyles %}

        {% load staticfiles %}
            <link rel="stylesheet" type= "text/css" href = "{% static 'fabric/monthlyEditionsStylesheet.css' %}" />
         {% endblock additionalStyles %}

        {% block content %}
        {{block.super}}
    <div id="chooseMonth">
        <h1 id="chooseMonthH1">Choose The Monthly Range:</h1>
                                                                {% block monthlyForm %}

                                                                {% endblock %}

                              {% csrf_token %}
        {{monthForm}}
       <p id="monthlyP0" class="monthlyP">
            Pay as you go (0 Months)
        </p>
        <p id="monthlyP1" class="monthlyP">
            12 Months Commitment
        </p>
        <p id="monthlyP2" class="monthlyP">
            24 Months Commitment
        </p>
        <p id="monthlyP3" class="monthlyP">
            36 Months Commitment
        </p>
             <button type="submit" class="pure-button pure-button-primary" id="subButton">Submit</button>
             </form>
    </div>
{% endblock content %}