html{height:100%;}

body{
background-color:#1A2125;
margin:0;
padding:0;
height:100%
}

#header{
display: block;
width:100%;
height:100px;
background-color:#232C31;
border-bottom: 1px solid #191919
}

#logo{
margin-top:15px;
margin-left:20px;
}

#HeaderH1{
display:block;
margin-top:-40px;
margin-left:830px;
color:#00629B;
font-family:arial;
font-size:40px;
}

#dropDownSection{
vertical-align:top;
position: relative;
display: inline-block;
height:84.5%;
width:400px;
border-right:1px solid #12171a;
float:left;
}

.H1Class{
margin-top:7%;
text-align:center;
color:#E6E6E6;
font-family:arial;
}

#Resources{
margin:auto;
margin-top:10px;
width:70%;
height:50px;
background-color:#00629B;
color:#E6E6E6;
}

#additionalSection{
vertical-align:top;
position: relative;
display: inline-block;
margin: 0;
height:84.5%;
width:400px;
float:left;
}

#divInput
{
margin-top:-100px;
width:50%;
height:250px;
margin-left:150px;
}

#vcpu{
margin-top:-40px;
width:36%;
height:40px;
background-color:#00629B;
color:#E6E6E6;
margin-left:0px
}

#ram{
margin-top:145px;
width:36%;
height:40px;
background-color:#00629B;
color:#E6E6E6;
margin-left:-75px;
}

#storage{
margin-top:335px;
width:36%;
height:40px;
background-color:#00629B;
color:#E6E6E6;
margin-left:-75px;
}

#subButton, #subButtonDrop{
display:block;
margin:auto;
margin-top:170px;
width:35%;
border: 1px solid #E6E6E6;
background-color:#00629B;
}
.pAD{
margin-left:185px;
margin-top:-99px;
font-size:20px;
color:#E6E6E6;
font-family:arial;
}

#vcpuP{
margin-left:230px;
margin-top:-310px;
font-size:20px;
color:#E6E6E6;
font-family:arial;
}

#ramP{
margin-left:230px;
margin-top:67px;
font-size:20px;
color:#E6E6E6;
font-family:arial;
}

#storageP{
margin-left:230px;
margin-top:69px;
font-size:20px;
color:#E6E6E6;
font-family:arial;
}

#tableSection{
vertical-align:top;
position: relative;
display: inline-block;
margin: 0;
height:84.5%;
width:430px;
float:right;
}

#tableDivBlue{
overflow:auto;
display:block;
margin:auto;
margin-top:7%;
background-color:#00588C;
border-radius:10px;
border: 1px solid #E6E6E6;
height:90%;
width:90%;
}

#tableFinal{
overflow:hidden;
border-collapse:separate;
border-radius:8px;
text-align:center;
width:100%

}
#tableHead{
background-color:#E6E6E6;
border: 1px solid white;
border-collapse:separate;
border-radius:8px;
text-align:center;
overflow:hidden;
color:#00629B;
}



#subButtonR{
display:block;
margin:auto;
margin-top:170px;
width:43%;
border: 1px solid #E6E6E6;
background-color:#00629B;
}

tbody{
color:#E6E6E6;
}

#totalCost{
background-color:#A1A1A1;
color:#00629B;
}

#BlueBase{
overflow:auto;
display:block;
margin:auto;
margin-top:8%;
background-color:#00588C;
border-radius:10px;
border: 1px solid #E6E6E6;
height:50%;
width:50%;
}

#errorMsgH1{
margin-top:20%;
text-align:center;
color:#E6E6E6;
font-family:arial;
}

#errorMsgH3{
margin-top:20%;
text-align:center;
color:#E6E6E6;
font-family:arial;
}

#resourceAD{
margin-top:40px;
width:36%;
height:40px;
background-color:#00629B;
color:#E6E6E6;
margin-left:0px
}

#runtimeAD{
margin-top:275px;
width:36%;
height:40px;
background-color:#00629B;
color:#E6E6E6;
margin-left:-75px;
}

#resourceADP{
margin-left:236px;
margin-top:-300px;
font-size:20px;
color:#E6E6E6;
font-family:arial;
}

#runtimeADP{
margin-left:236px;
margin-top:84px;
font-size:20px;
color:#E6E6E6;
font-family:arial;
}


#descriptDiv{
overflow:auto;
display:block;
margin:auto;
background-color:#00588C;
border-radius:10px;
border: 1px solid #E6E6E6;
margin-top:40px;
height:100px;
width:80%;
background-color:
}

#descriptPara{
text-align:center;
font-size:18px;
color:#E6E6E6;
font-family:arial;
}